/* a minimalist set of CSS resets */

/* default to border-box */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* adjust typography defaults */
body {
  margin: 2em;
  font-family: helvetica, arial, sans-serif;
  font-weight: 200;
  line-height: 1.5;
  background-color: rgb(220,220,220);
  color: #403e40;
  text-align: center;
}

h1 {
  font-family: verdana, arial, sans-serif;
  font-weight: lighter;
  font-size: 40px;
  text-align: center;
  color: #2e2d2e;
}

p {
  font-size: 20px;
}

button {
  padding: 15px;
  border-radius: 6px;
  text-align: center;
}

.hidden {
  display: none;
}

#gameButtonArea > button {
  width: 200px;
  height: 200px;
  margin: 2px;
}

#button1 {
  background: rgb(255, 176, 170);
}
#button1:active,
#button1.lit {
  background: rgb();
}

#button2 {
  background: rgb(253, 255, 170);
}
#button2:active,
#button2.lit {
  background: rgb();
}

#button3 {
  background: rgb();
}
#button3:active,
#button3.lit {
  background: rgb();
}

#button4 {
  background: rgb();
}
#button4:active,
#button4.lit {
  background: rgb();
}

#button5 {
  background: rgb();
}
#button5:active,
#button5.lit {
  background: rgb();
}

#button6 {
  background: rgb();
}
#button6:active,
#button6.lit {
  background: rgb();
}


#difficultyBtnArea > button{
  width: 200px;
  height: 50px;
  margin: 2px;
  text-align: center;
  font-size: 15px;
  font-weight: 100;
  font-family: verdana, arial, sans-serif;
}

#btnEasy {
  background: rgb(120, 240, 140);
}

#btnMedium {
  background: rgb(240, 240, 120);
}

#btnHard {
  background: grey;
}

#btnImp {
  background: rgb(240, 120, 120);
}
/* images and videos max out at full width */
img,
video {
  height: auto;
  max-width: 100%;
}
