/* a minimalist set of CSS resets */

/* default to border-box */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* adjust typography defaults */
body {
  margin: 2em;
  font-family: helvetica, arial, sans-serif;
  font-weight: 200;
  line-height: 1.5;
  background-color: rgb(220, 220, 220);
  color: #403e40;
  text-align: center;
}

h1 {
  font-family: verdana, arial, sans-serif;
  font-weight: lighter;
  font-size: 40px;
  text-align: center;
  color: #2e2d2e;
}

p {
  font-size: 20px;
}
p1 {
  font-size: 15px;
}
p3 {
  float: left;
  display: inline;
  position: relative;
  font-size: 20px;
  top: 30px;
  text-align: center;
}
button {
  padding: 15px;
  border-radius: 6px;
  text-align: center;
}

.hidden {
  display: none;
}
#startBtn {
  background: url(https://cdn.glitch.global/06a52898-4726-46eb-b2e1-bc3f3620a583/Stop.png?v=1647479072035);
  background-size: cover;
  width: 400px;
  height: 200px;
  background-position: center;
  position: top;
}
#stopBtn {
  background: url(https://cdn.glitch.global/06a52898-4726-46eb-b2e1-bc3f3620a583/Start.png?v=1647479067216);
  background-size: cover;
  width: 400px;
  height: 200px;
  background-position: center;
}

#gameButtonArea > button {
  width: 150px;
  height: 150px;
  margin: 2px;
  /*border: none;*/
  background-size: cover;
  background-position: bottom;
}

/*red button*/
#button1 {
  /*background: rgb(255, 176, 170);*/
  background: url(https://cdn.glitch.global/06a52898-4726-46eb-b2e1-bc3f3620a583/red_egg.png?v=1647467999757);
}
#button1:active,
#button1.lit {
  /* background: rgb(168, 50, 50);*/
  background: url(https://cdn.glitch.global/06a52898-4726-46eb-b2e1-bc3f3620a583/red_open.png?v=1647468045971);
  background-size: cover;
  width: 250px;
  height: 250px;
}

/*orange button*/
#button2 {
  /*background: rgb(255, 217, 170);*/
  background: url(https://cdn.glitch.global/06a52898-4726-46eb-b2e1-bc3f3620a583/orange_egg.png?v=1647468042521);
  background-size: cover;
}
#button2:active,
#button2.lit {
  /*background: rgb(168, 123, 50);*/
  background: url(https://cdn.glitch.global/06a52898-4726-46eb-b2e1-bc3f3620a583/orange_open.png?v=1647468042853);
  background-size: cover;
  width: 250px;
  height: 250px;
}

/*yellow button*/
#button3 {
  /*background: rgb(253, 255, 170);*/
  background: url(https://cdn.glitch.global/06a52898-4726-46eb-b2e1-bc3f3620a583/yellow_egg.png?v=1647468052543);
  background-size: cover;
}
#button3:active,
#button3.lit {
  /*background: rgb(168, 158, 50);*/
  background: url(https://cdn.glitch.global/06a52898-4726-46eb-b2e1-bc3f3620a583/Yellow_open.png?v=1647468110400);
  background-size: cover;
  width: 250px;
  height: 250px;
}

/*green button*/
#button4 {
  /*background: rgb(170, 255, 188);*/
  background: url(https://cdn.glitch.global/06a52898-4726-46eb-b2e1-bc3f3620a583/green_egg.png?v=1647468023365);
  background-size: cover;
}
#button4:active,
#button4.lit {
  /*background: rgb(95, 168, 50);*/
  background: url(https://cdn.glitch.global/06a52898-4726-46eb-b2e1-bc3f3620a583/green_open.png?v=1647468023300);
  background-size: cover;
  width: 250px;
  height: 250px;
}

/*blue button*/
#button5 {
  /*background: rgb(170, 204, 255);*/
  background: url(https://cdn.glitch.global/06a52898-4726-46eb-b2e1-bc3f3620a583/blue_egg.png?v=1647468036576);
  background-size: cover;
}
#button5:active,
#button5.lit {
  /*background: rgb(50, 111, 168);*/
  background: url(https://cdn.glitch.global/06a52898-4726-46eb-b2e1-bc3f3620a583/blue_open.png?v=1647467995617);
  background-size: cover;
  width: 250px;
  height: 250px;
}

/*purple button*/
#button6 {
  /*background: rgb(251, 170, 255);*/
  background: url(https://cdn.glitch.global/06a52898-4726-46eb-b2e1-bc3f3620a583/purple_egg.png?v=1647468042816);
  background-size: cover;
}
#button6:active,
#button6.lit {
  /*background: rgb(139, 50, 168);*/
  background: url(https://cdn.glitch.global/06a52898-4726-46eb-b2e1-bc3f3620a583/purple_open.png?v=1647468042765);
  background-size: cover;
  width: 250px;
  height: 250px;
}

/*difficulty buttons*/
#difficultyBtnArea > button {
  width: 200px;
  height: 50px;
  margin: 2px;
  text-align: center;
  font-size: 15px;
  font-weight: 100;
  font-family: verdana, arial, sans-serif;
}

#btnEasy {
  background: rgb(120, 240, 140);
}

#btnMed {
  background: rgb(240, 240, 120);
}

#btnHard {
  background: grey;
}

#btnImp {
  background: rgb(240, 120, 120);
}

#lives {
  display: inline;
}
#timer {
  display: inline;
}

.lives {
  display: inline;

  position: relative;
  max-width: 250px; /* Maximum width */
  margin: 0 auto; /* Center it */
}
.lives .livesTxt {
  position: absolute; /* Position the background text */
  top: 0; /* At the bottom. Use top:0 to append it to the top */
  background: rgb(0, 0, 0); /* Fallback color */
  color: #f1f1f1; /* Grey text */
  width: 100%; /* Full width */
  padding: 20px; /* Some padding */
}

/* images and videos max out at full width */
img,
video {
  height: auto;
  max-width: 100%;
}
