html {
  box-sizing: border-box;
  font-size: 16px;
  background-image: linear-gradient(
    to top left,
    #b2e4ed,
    #f4ecdb,
    #f9f9f9,
    #ffe5f7,
    #eddefd,
    #e8f4e5
  );
    min-height: 100%
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* adjust typography defaults */
body {
  margin: 2em;
  line-height: 1.5;
  font-family: "Quicksand", verdana, sans-serif;
  font-weight: 600;
  text-align: center;
}

h1 {
  margin: 20px;
  font-size: 60px;
  text-align: center;
  letter-spacing: 5px;
  font-family: "Quicksand", sans-serif;
}

p {
  font-size: 20px;
}
p1 {
  font-size: 15px;
}
p3 {
  font-size: 20px;
}
button {
  padding: 15px;
  border-radius: 6px;
  text-align: center;
  cursor: pointer;
}

.hidden {
  display: none;
}

#startBtn {
  background: url(https://cdn.glitch.global/06a52898-4726-46eb-b2e1-bc3f3620a583/Stop.png?v=1647479072035);
  background-size: cover;
  width: 300px;
  height: 150px;
  background-position: center;
  position: center;
  margin-bottom: 50px;
}
#stopBtn {
  background: url(https://cdn.glitch.global/06a52898-4726-46eb-b2e1-bc3f3620a583/Start.png?v=1647479067216);
  background-size: cover;
  width: 300px;
  height: 150px;
  background-position: center;
  margin-bottom: 50px;
}

#gameButtonArea{
    border: 2px solid black;

}

#gameButtonArea > button {
  margin-bottom: 30px;
  width: 200px;
  height: 200px;
  background-size: cover;
}

/*red button*/
#button1 {
  background: url(https://cdn.glitch.global/06a52898-4726-46eb-b2e1-bc3f3620a583/red-egg.png?v=1647746527378);
  background-size: cover;
}
#button1.lit {
  background: url(https://cdn.glitch.global/06a52898-4726-46eb-b2e1-bc3f3620a583/red-open.png?v=1647746528308);
  background-size: cover;
}
#button1.wrong {
  background: url(https://cdn.glitch.global/06a52898-4726-46eb-b2e1-bc3f3620a583/red-wrong.png?v=1647746528463);
  background-size: cover;
}
/*orange button*/
#button2 {
  background: url(https://cdn.glitch.global/06a52898-4726-46eb-b2e1-bc3f3620a583/orange-egg.png?v=1647746527860);
  background-size: cover;
}
#button2.lit {
  background: url(https://cdn.glitch.global/06a52898-4726-46eb-b2e1-bc3f3620a583/orange-open.png?v=1647746528010);
  background-size: cover;
}
#button2.wrong {
  background: url(https://cdn.glitch.global/06a52898-4726-46eb-b2e1-bc3f3620a583/orange-wrong.png?v=1647746527618);
  background-size: cover;
}
/*yellow button*/
#button3 {
  background: url(https://cdn.glitch.global/06a52898-4726-46eb-b2e1-bc3f3620a583/yellow-egg.png?v=1647746531888);
  background-size: cover;
}
#button3.lit {
  background: url(https://cdn.glitch.global/06a52898-4726-46eb-b2e1-bc3f3620a583/yellow-open.png?v=1647746531467);
  background-size: cover;
}
#button3.wrong {
  background: url(https://cdn.glitch.global/06a52898-4726-46eb-b2e1-bc3f3620a583/yellow-wrong.png?v=1647746531754);
  background-size: cover;
}
/*green button*/
#button4 {
  background: url(https://cdn.glitch.global/06a52898-4726-46eb-b2e1-bc3f3620a583/green-egg.png?v=1647746528520);
  background-size: cover;
}
#button4.lit {
  /*background: rgb(95, 168, 50);*/
  background: url(https://cdn.glitch.global/06a52898-4726-46eb-b2e1-bc3f3620a583/green-open.png?v=1647746529601);
  background-size: cover;
}
#button4.wrong {
  background: url(https://cdn.glitch.global/06a52898-4726-46eb-b2e1-bc3f3620a583/green-wrong.png?v=1647746527680);
  background-size: cover;
}

/*blue button*/
#button5 {
  background: url(https://cdn.glitch.global/06a52898-4726-46eb-b2e1-bc3f3620a583/blue-egg.png?v=1647746529380);
  background-size: cover;
}
#button5.lit {
  background: url(https://cdn.glitch.global/06a52898-4726-46eb-b2e1-bc3f3620a583/blue-open.png?v=1647746528351);
  background-size: cover;
}
#button5.wrong {
  background: url(https://cdn.glitch.global/06a52898-4726-46eb-b2e1-bc3f3620a583/blue-wrong.png?v=1647746527504);
  background-size: cover;
}

/*purple button*/
#button6 {
  background: url(https://cdn.glitch.global/06a52898-4726-46eb-b2e1-bc3f3620a583/purple-egg.png?v=1647746527293);
  background-size: cover;
}
#button6.lit {
  background: url(https://cdn.glitch.global/06a52898-4726-46eb-b2e1-bc3f3620a583/purple-open.png?v=1647746527341);
  background-size: cover;
}
#button6.wrong {
  background: url(https://cdn.glitch.global/06a52898-4726-46eb-b2e1-bc3f3620a583/purple-wrong.png?v=1647746528577);
  background-size: cover;
}

/*difficulty buttons*/
#difficultyBtnArea > button {
  width: 200px;
  height: 50px;
  margin: 2px;
  text-align: center;
  font-size: 20px;
  border: 1px solid grey;
  font-family: "Quicksand", verdana, sans-serif;
  font-weight: 700;
}

#btnEasy {
  background: rgb(185, 255, 200);
}
#btnEasy:hover {
  background: rgb(200, 255, 220);
}

#btnMed {
  background: rgb(255, 255, 185);
}
#btnMed:hover {
  background: rgb(255, 255, 210);
}

#btnHard {
  background: rgb(220, 220, 220);
}
#btnHard:hover {
  background: rgb(230, 225, 230);
}

#btnImp {
  background: rgb(255, 180, 185);
}
#btnImp:hover {
  background: rgb(255, 185, 200);
}

/* #timer {
  display: inline;
} */
.locked {
  pointer-events: none;
}

.gameInfo {
  border: 1px solid black;
  margin-left: 20px;
  margin-right: 20px;
}

.lives {
  width: 250px;
  height: 250px;
  border: 1px solid black;
  position: relative;
  text-align: center;
  float: left;
    margin-bottom: 50px;

}
.livesTxt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  border: 1px solid black;
}

.timer {
  width: 250px;
  height: 250px;
  position: relative;
  text-align: center;
  border: 1px solid black;
  float: right;
  margin-bottom: 50px;
}
.timer .img {
  width: 100%;
  height: 100%;
}

.timerTxt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  border: 1px solid black;
}

#wrapper {
  margin-left: auto;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  margin-right: auto;
}


/* images and videos max out at full width */
img,
video {
  height: auto;
  max-width: 100%;
}
